body {
    margin: 0;
    background-color: cadetblue;
    
}

main {
    background-color: cadetblue;
    color:white;
    width: 960px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}