.news-tab {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-card {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    color: black;
    box-shadow: 0 4px 12px black;
}

.news-card:nth-child(even) {
    flex-direction: row-reverse;
}

.news-media {
    flex: 0 0 220px;
    display: flex;
}

.news-media img {
    width: 100%;
    max-height: 100%;
    border-radius: 8px;
    display: block;
}

.news-content p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.excerpt {
    font-style: italic;
}

.news-date {
    font-size: 10;
    color: grey;
    font-style: italic;
    margin-top: 12px;
    margin-bottom: 0;
}